
.container
{
 background-image: url('img 44.jpg');
 height:800px;
 width:800px;
 margin: 30px;
 padding:20px;
 border-radius: 10px;
 border:3px solid;
}
hr{
    border:1px solid;
    color: black;
}
.highlight
{
background-color: chocolate;
}
.content
{
    padding: 15px;
}
.quotes
{
margin-top: 20px;
margin-left: 10px;
padding: 10px;
padding-left: 11px;
border-left: 5px solid rgb(0, 0, 75);
display: flex;
background-color: bisque;
}
.item
{
display: flex; 
margin-top: 20px;
background-color: rgb(173, 247, 186);
padding: 10px;
}
.item img
{
    width:95px;
    height:95px;
}
.words
{
    padding-left: 20px;
    
}
.author h3
{
    color: blueviolet;
    padding-left: 20px;   
}
.footer
{
    margin-top: 150px;
    display: flex;
    background-color: indianred;
    color:white;
    padding:5px;
    justify-content: space-between;
    border-radius: 5px;
    text-align: left;
}


.PUBLISHERS
{
    color: rgb(223, 175, 20);
    text-align: left;
}
.print
{
    
}

.price
{
    color: rgb(223, 175, 20);
}



